li {
display: inline;
margin-right: 10px;}
li.coming-soon {
display: none;
/*visibility: hidden;*/
}

p.onee {
border-top-left-radius: 80px 50px;
-moz-border-radius-top-left: 80px 50px;
-webkit-border-radius-top-left: 80px 50px;}
p.twoo {
border-radius: 1em 4em 1em 4em / 2em 1em 2em 1em;
-moz-border-radius: 1em 4em 1em 4em
/ 2em 1em 2em 1em;
-webkit-border-radius: 1em 4em 1em 4em
/ 2em 1em 2em 1em;}
p.threee {
padding: 0px;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;}
